.container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
           background-image: url('img.jpg');
            position: fixed;
            overflow-y: scroll;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .inner {
            height: 80vh;
            width: 60vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('img.jpg');
        }

        .box {
            width: 70%;
            height: 70%;
            background-color: #fff;
            box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.232);
            position: relative;
            overflow: hidden;
            border-radius: 5px;
        }

        .number {
            height: 60px;
            width: 150px;
            position: absolute;
            top: -30px;
            right: -60px;
            background-color: rgba(0, 0, 0, 0.158);
            transform: rotate(45deg);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.232);
        }

        #logo {
            height: 25px;
            width: 25px;
            padding: 5px;
            transform: rotate(-45deg);
            animation: rotweet 1s linear;
        }

        @keyframes rotweet {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .text {
            padding: 10%;

            padding-bottom: 0%;
        }

        .star {
            opacity: 0.2;
            font-size: 49px;
        }

        #words {
            font-family: "Bradley Hand", Bradley Hand, monospace;
            font-size: 35px;
            opacity: 0.8;
        }

        .author {
            text-align: right;
            font-size: 22px;
        }

        .more {
            width: 100%;
            font-size: 18px;
            text-transform: capitalize;
            color: #fff;
        }

        .button {
            width: 100%;
            height: 10%;
            background-color: rgba(0, 89, 255, 0.89);
            text-align: center;
            position: absolute;
            bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 2px;
        }

  